/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
*/

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

// Color Variable
$white:  #ffffff;
$darkgrey: #342F20;
$grey: #3b3f45;
$red: #ff0000;
$darkred: #A11829;
$offwhite: #ececec;
$textgrey: #333333;

body {
  font-family: Courier, serif;
  position: relative;
}

.red {
  color: $darkred
}

.center {
  text-align: center;
}

.navbar {
  background-color: transparentize($white, .40);
  border: none;
  height: 90px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .logo {
    font-size: 18px;
    padding: 5px 10px;

    img, p {
      display: block;
      font-size: 13px;
      margin: auto;
      text-align: center;
      width: 85px;
    }
  }
}

.nav-main {
  font-size: 15px;
}

.navbar-toggle {
  margin-top: 25px;
}

.navbar-collapse {
  border: none;
}

.navbar-right.nav-menu {
  text-align: right;
  margin-right: 10px;
}

.nav-menu {
  padding: 20px 0px 45px 0;


  a {
    text-decoration: none;
    color: $textgrey;
  }
}

.map {
  width: 100%;
  height: 400px;
}

.large-image {

  &.main1 {
    background: image-url("S__6225927.jpg");
    padding-top: 40%;
    background-size: cover;
    background-position: center;
    margin: auto;
    min-height: 200px;
  }

  &.main2 {
    background: image-url("sushi4.jpg");
    background-size: cover;
    padding-top: 40%;
  }

  &.menu1 {
    background: image-url("IMG_3670.JPG");
    padding-top: 50%;
    background-size: cover;
    margin: auto;
    min-height: 200px;
  }

  &.menu2 {
    background: image-url("sushi1.jpg");
    background-size: cover;
  }


  &.main3 {
    background: image-url("sushi2.jpg");
    color: $offwhite;
    background-size: cover;
  }
}

.three-section {
  margin-left: 0;
  img {
    width: 100%;
  }
}

.menu {
  background-color: whitesmoke;
  color: $darkgrey;
  display: block;
  padding: 20px 0;
  width: 100%;

  a {
    position: relative;
    top: 50px;
  }

  .header {
    padding: 10px 0 20px 0;
  }

  .starter {
    background: image-url("S__6225930.jpg");
    padding-top: 100%;
    background-size: cover;
    margin: auto;
    width: 310px;
  }

  .item {
    margin-top: 15px;
  }

  .note {
    color: $red;
  }
}


.rolls {
  p {
    margin: 10px 5px 0px 0px;

    &.price {
      margin-top: 5px;
    }
  }
}

a.main {
  display: block;
  position: relative;
  top: -90px;
}

.menu-header {
  // height: 75px;
  // top: 425px;
  display: block;
  // background-color: transparentize($grey, .40);
  z-index: 50;

  &.high-header {

    p {
      color: $darkgrey;
    }
  }

  a {
    display: block;
    height: 1px;
    position: absolute;
    bottom: 220px;
  }

  h1 {
    color: $darkgrey;
  }
}

.about {
  background-color: $grey;
  color: $offwhite;
  padding: 60px 0px;
  width: 100%;

  img {
    max-width: 150px;
  }
}

.contact {
  padding: 30px;

  img {
    padding: 20px;

    &.facebook {
      width: 25%;
    }
  }
}

.location, .hours {
  background-color: transparentize($offwhite, .40);
  color: $darkgrey;
  padding: 0 25px 30px 30px;
  margin: 15% 0;
}
